
<!-- footer begin -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="images/logo.png" class="logo-small" alt=""> <br>
				We have an imaginative team of wedding planners which has the
				creativity and innovative nature to put together the wedding you've
				always imagined. 
				<br/><br/>
				Our goal is 100 % customer satisfaction, allowing
				you to relax and know that your entire day is being professionally
				handled to cater to your unique needs
			</div>
			<div class="col-md-4">
				<div class="widget widget_recent_post">
					<!--                             <h3>Latest News</h3>
                           <ul>
                               <li><a href="#">5 Things That Take a Room from Good to Great</a></li>
                               <li><a href="#">Functional and Stylish Wall-to-Wall Shelves</a></li>
                               <li><a href="#">9 Unique and Unusual Ways to Display Your TV</a></li>
                               <li><a href="#">The 5 Secrets to Pulling Off Simple, Minimal Design</a></li>
                               <li><a href="#">How to Make a Huge Impact With Multiples</a></li>
                           </ul>
                           -->
				</div>
			</div>
			<div class="col-md-4">
				<h3>Contact Us</h3>
				<div class="widget widget-address">
					<address>
						<!-- <span>100 Mainstreet Center, Sydney</span> -->
						<span><strong>Email</strong><a href="mailto:info@rings2knot.com">&nbsp; info@rings2knot.com</a></span> 
						<span><strong>Web</strong><a href="#">&nbsp; http://rings2knot.com</a></span>
						<span><strong>India</strong>&nbsp; Casablanca, 6A, Ground Floor, Sector 11, CBD Belapur, Navi Mumbai 400614</span>
						<!-- <span><strong>Phone</strong>&nbsp; +91 7738730746</span> -->
						<!-- <span><strong>USA</strong>&nbsp; 4514 Liberty Avenue, North Bergen, New Jersey 07047</span>
						<span><strong>Phone</strong>&nbsp; +1 551 399-7778</span> -->					
					</address>
				</div>
			</div>
		</div>
	</div>
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					&copy; Copyright 2019 - Rings2Knot
					<!-- Template by <span class="id-color">Designesia</span> -->
				</div>
				<div class="col-md-6 text-right">
					<div class="social-icons">
						<a href="#"><i class="fa fa-facebook fa-lg"></i></a> 
						<a href="#"><i class="fa fa-twitter fa-lg"></i></a> 
						<a href="#"><i class="fa fa-rss fa-lg"></i></a> 
						<a href="#"><i class="fa fa-google-plus fa-lg"></i></a> 
						<a href="#"><i class="fa fa-skype fa-lg"></i></a> 
						<a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" id="back-to-top"></a>
</footer>
<!-- footer close -->